/* Inherit variables from index.css */

.background {
    display: flex;
    min-height: calc(100vh - 80px);
    /* Adjust for nav height */
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.container {
    flex: 0 1 900px;
    width: 100%;
    margin: auto;
}

.screen {
    position: relative;
    background: var(--card-bg);
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #1d2430;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--primary-color);
    font-size: 26px;
    font-weight: 700;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--primary-color);
}

.app-contact {
    margin-top: auto;
    font-size: 14px;
    color: var(--text-muted);
    line-height: 2;
}

.app-contact i {
    width: 20px;
    color: var(--secondary-color);
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: var(--text-color);
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: var(--primary-color);
}

.app-form-button {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    transition: color 0.3s;
}

.app-form-button:hover {
    color: var(--secondary-color);
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}